[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.8.1"
pillow = "==11.0.0"
psycopg2 = "==2.9.9"
sqlparse = "==0.5.1"
django = "*"
django-environ = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.12"
